/* Light Theme */
[data-md-color-scheme="qc-piv"] {
  --md-primary-fg-color:        #095797;  /* Principale/Bleu PIV - Bleu 300 */
  --md-primary-fg-color--light: #4A98D9;  /* Principale/Bleu clair - Bleu 500 */
  --md-primary-fg-color--dark:  #223654;  /* Principale/Bleu foncé - Bleu 150 */
  --md-accent-fg-color:         #E58271;  /* Accent/Rose - Rouge 350 */

/* Set fonts */
  --md-text-font: "Open Sans", sans-serif;
  --md-code-font: "Roboto Mono", monospace;
  --md-heading-font: "Roboto", sans-serif;
}

/* Custom dark mode theme */
[data-md-color-scheme="qc-piv-sombre"] {
  --md-primary-fg-color:        #72B2EB; /* Principale/Bleu PIV - Bleu 300 */
  --md-primary-fg-color--light: #0078CC; /* Principale/Bleu clair - Bleu 500 */
  --md-primary-fg-color--dark:  #C6DBEE; /* Principale/Bleu foncé - Bleu 150 */
  --md-accent-fg-color:         #F17B6C; /* Accent/Rose - Rouge 350 */
  
  /* Background and text color */
  --md-default-bg-color: #121519;  /* Dark background */
  --md-typeset-color:    #D7D8DD;  /* Light text */
  --md-default-fg-color: #D7D8DD;  /* Ensure text is light */
  
  /* Set fonts */
  --md-text-font: "Open Sans", sans-serif;
  --md-code-font: "Roboto Mono", monospace;
  --md-heading-font: "Roboto", sans-serif;
}

/* Ensure text elements are properly colored */
[data-md-color-scheme="qc-piv-sombre"] body,
[data-md-color-scheme="qc-piv-sombre"] .md-typeset {
  color: var(--md-typeset-color);
}

/* Improve contrast for sidebar links */
[data-md-color-scheme="qc-piv-sombre"] .md-nav__link {
  color: #D7D8DD;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/* Apply Fonts */
body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}
