[data-md-color-scheme="qc-piv"] {
  --md-primary-fg-color:        #095797;
  --md-primary-fg-color--light: #4A98D9;
  --md-primary-fg-color--dark:  #223654;
}

@font-face {
  font-family: "roboto";
  src: "https://fonts.google.com/specimen/Roboto";
}
